<div class="mat-elevation-z8">
  <mat-form-field>
      <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Search">
  </mat-form-field>
  <table mat-table class="full-width-table" matSort aria-label="Elements">
      <!-- Id Column -->
      <ng-container matColumnDef="id">
          <th mat-header-cell *matHeaderCellDef>Id</th>
          <td mat-cell *matCellDef="let student">{{student.id}}</td>
          <td mat-footer-cell *matFooterCellDef></td>
      </ng-container>
      <!-- StudentId Column -->
      <ng-container matColumnDef="studentId">
          <th mat-header-cell *matHeaderCellDef>Student id</th>
          <td mat-cell *matCellDef="let student">{{student.studentId}}</td>
          <td mat-footer-cell *matFooterCellDef></td>
      </ng-container>
      <!-- Name Column -->
      <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Name</th>
          <td mat-cell *matCellDef="let student">{{student.name}}</td>
          <td mat-footer-cell *matFooterCellDef></td>
      </ng-container>
      <!-- Surname Column -->
      <ng-container matColumnDef="surname">
          <th mat-header-cell *matHeaderCellDef>Surname</th>
          <td mat-cell *matCellDef="let student">{{student.surname}}</td>
          <td mat-footer-cell *matFooterCellDef></td>
      </ng-container>
      <ng-container matColumnDef="dob">
        <th mat-header-cell *matHeaderCellDef >Date of Birth</th>
        <td mat-cell *matCellDef="let student">{{student.dob}}</td>
          <td mat-footer-cell *matFooterCellDef></td>
        <td mat-footer-cell *matFooterCellDef></td>
    </ng-container>
    <ng-container matColumnDef="email">
      <th mat-header-cell *matHeaderCellDef class="center-text">Email</th>
      <td mat-cell *matCellDef="let student">{{student.email}}</td>
        <td mat-footer-cell *matFooterCellDef></td>
      <td mat-footer-cell *matFooterCellDef></td>
  </ng-container>
  <ng-container matColumnDef="password">
    <th mat-header-cell *matHeaderCellDef >Password</th>
    <td mat-cell *matCellDef="let student">{{student.password}}</td>
    <td mat-footer-cell *matFooterCellDef></td>
</ng-container>

<ng-container matColumnDef="ApproveBtn">
  <th mat-header-cell *matHeaderCellDef class="center-text">Approve</th>
  <td mat-cell *matCellDef="let student">
      <div class="center">
          <button mat-raised-button class="center-button" (click)="approve()" id="btn">Approve</button>
      </div>
  </td>
  <td mat-footer-cell *matFooterCellDef></td>
</ng-container>

<ng-container matColumnDef="RejectBtn">
  <th mat-header-cell *matHeaderCellDef class="center-text">Reject</th>
  <td mat-cell *matCellDef="let student">
      <div class="center">
          <button mat-raised-button class="center-button" (click)="reject()" id="btn">Reject</button>
      </div>
  </td>
  <td mat-footer-cell *matFooterCellDef></td>
</ng-container>
      <!-- pen amount Column -->
      <!-- <ng-container matColumnDef="penAmount">
          <th mat-header-cell *matHeaderCellDef class="center-text">Pen</th>
          <td mat-cell *matCellDef="let student">
              <div class="center">
                  <button mat-raised-button class="center-button" (click)="downQuantity(student)">-</button>
                  <mat-form-field class="penInput">
                      <input matInput class="center-text penInput" [(ngModel)]="student.penAmount">
                  </mat-form-field>
                  <button mat-raised-button layout="row" class="center-button" (click)="upQuantity(student)">+</button>
              </div>
          </td>
          <td mat-footer-cell *matFooterCellDef></td>
      </ng-container> -->
      <!-- Gpa Column -->
      <!-- <ng-container matColumnDef="gpa">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>GPA</th>
          <td mat-cell *matCellDef="let student">{{student.gpa}}</td>
          <td mat-footer-cell *matFooterCellDef> {{averageGpa() | number:'1.2-2'}} </td>
          <td mat-footer-cell *matFooterCellDef></td>
      </ng-container> -->
      <!-- image Column -->
      <ng-container matColumnDef="image">
          <th mat-header-cell *matHeaderCellDef class="center-text">Image</th>
          <td mat-cell *matCellDef="let student" class="center-text">
              <img [src]="student.image" [title]="student.name" class="img-fluid">
          </td>
          <td mat-footer-cell *matFooterCellDef></td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      <tr mat-footer-row *matFooterRowDef="displayedColumns"></tr>
  </table>

  <mat-paginator #paginator [length]="dataSource?.data.length" [pageIndex]="0" [pageSize]="50" [pageSizeOptions]="[25, 50, 100, 250]">
  </mat-paginator>
</div>