<div *ngFor="let student of students" class="row">
    <div class="panel panel-primary col-md-offset-2 col-md-6 col-sm-offset-1 col-sm-8">
        <div class="panel-heading">
            <h2 class="panel-title">{{student.studentId }}</h2>
        </div>
        <div class="panel-body row">
            <div class="col-md-6 col-sm-6">
                <p class="student-name"> {{student. name | uppercase}} {{student.surname}}</p>
                <p *ngIf="student.gpa > 2.5">Good Student who get grade {{student.gpa | number:'1.2-2'}}</p>
                <p *ngIf="student.gpa <= 2.5">Bad Student who get grade {{student.gpa | number:'1.2-2'}}</p>
                <div class="row">
                    <div class="col-sm-offset-1 ">
                        <button type="button" class="btn btn-primary btn-xs col-md-2" (click)="downQuantity(student)">-</button>
                        <input type="text" class="col-md-1" />
                        <button type="button" class="btn btn-primary btn-xs col-md-2" (click)="upQuantity(student)">+</button>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <img class="img-responsive" [src]="student.image" [title]="student.name">
            </div>
        </div>
    </div>
</div>

<div class="alert alert-success col-md-offset-2 col-md-6"> The average gpa is {{averageGpa()|number:'1.2-2'}} </div>