<!--old code-->
<!-- <mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false">
    <mat-toolbar>Menu</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item [routerLink]="['/list']" routerLinkActive="router-link-active">List</a>
      <a mat-list-item [routerLink]="['/add']" routerLinkActive="router-link-active">Add</a>
      <a mat-list-item [routerLink]="['/view']" routerLinkActive="router-link-active">View</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary" >
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>lab01</span>
    </mat-toolbar>
    
    
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container> -->

<!-- Main -->
<div *ngIf = "main">
<mat-toolbar fixedInViewport>
  <mat-toolbar-row>
    <button mat-icon-button (click)="sidenav.toggle()" fxShow="true" fxHide.gt-sm>
      <mat-icon>menu</mat-icon>
    </button>
    <span style="color: goldenrod"> Learning Through Activity </span>
    <span class="nav-spacer"></span>
    <div fxShow="true" fxHide.lt-md="true">
      
      <a mat-button (click) = studentnav()>
        
        <h1>Student</h1>
      </a>
      <a mat-button (click) = pronav()>
        
        <h1>Professor</h1>
      </a>
      <a mat-button (click) = adminnav()>
        
        <h1>Admin</h1>
      </a>
    </div>
  </mat-toolbar-row>
</mat-toolbar>

<mat-sidenav-container fxFlexFill>
  <mat-sidenav #sidenav>
    <mat-nav-list>
      <a mat-list-item (click) = studentnav() >
        
        Student
      </a>
      <a mat-list-item (click) = pronav() >
        
        Professor</a>
      <a mat-list-item (click) = adminnav() >
        
        Admin
      </a>
      
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content fxFlexFill fixedInViewport>
      <router-outlet *ngIf = "main"></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
</div>
<!-- Student -->
<div ng-model="studentnav" *ngIf = "student">
  <mat-toolbar  fixedInViewport>
    <mat-toolbar-row>
      <button mat-icon-button (click)="sidenav.toggle()" fxShow="true" fxHide.gt-sm>
        <mat-icon>menu</mat-icon>
      </button>
      <span style="color: goldenrod" (click) = mainnav()> Learning Through Activity </span>
      <span class="nav-spacer"></span>
      <div fxShow="true" fxHide.lt-md="true">
        
        <a mat-button [routerLink]="['/list']" routerLinkActive="router-link-active">
          
          <h1>List All Activity</h1>
        </a>
        <a mat-button [routerLink]="['/add']" routerLinkActive="router-link-active">
          
          <h1>Add Student Detail</h1>
        </a>
        <a mat-button [routerLink]="['/enrolled']" routerLinkActive="router-link-active">
          
          <h1>Enrolled</h1>
        </a>
        <a mat-button [routerLink]="['/detail/1']" routerLinkActive="router-link-active">
          
          <h1>Update Student Detail</h1>
        </a>
      </div>
    </mat-toolbar-row>
  </mat-toolbar>
  
  <mat-sidenav-container fxFlexFill>
    <mat-sidenav #sidenav>
      <mat-nav-list>
        <a mat-list-item [routerLink]="['/list']" routerLinkActive="router-link-active" (click)="sidenav.toggle()">
          
          List All Activity
        </a>
        <a mat-list-item [routerLink]="['/add']" routerLinkActive="router-link-active" (click)="sidenav.toggle()">
          
          Add Student Detail</a>
        <a mat-list-item [routerLink]="['/enrolled']" routerLinkActive="router-link-active" (click)="sidenav.toggle()">
          
          Enrolled
        </a>
        <a mat-list-item [routerLink]="['/detail/2']" routerLinkActive="router-link-active" (click)="sidenav.toggle()">
          
          Update Student Detail
        </a>
        
        
      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content fxFlexFill fixedInViewport>
        <router-outlet *ngIf = "student"></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
  </div>
<!-- professornav -->
  <div ng-model="pronav" *ngIf = "pro">
  <mat-toolbar fixedInViewport>
    <mat-toolbar-row>
      <button mat-icon-button (click)="sidenav.toggle()" fxShow="true" fxHide.gt-sm>
        <mat-icon>menu</mat-icon>
      </button>
      <span style="color: goldenrod" (click) = mainnav()> Learning Through Activity </span>
      <span class="nav-spacer"></span>
      <div fxShow="true" fxHide.lt-md="true">
        
        <a mat-button [routerLink]="['/list/professor']" routerLinkActive="router-link-active" >
          
          <h1>List All Activity</h1>
        </a>
        <!-- <a mat-button [routerLink]="['/add']" routerLinkActive="router-link-active">
          
          <h1>Update Activity Detail</h1>
        </a> -->
        <!-- <a mat-button [matMenuTriggerFor]="menu">View</a>
            <mat-menu #menu="matMenu">
                <div *ngFor="let activity of activity$ | async">
                    <a mat-menu-item style="text-decoration: none" class="menuview"
                    [routerLink]="['update',activity.id]" routerLinkActive="router-link-active"></a>
                    {{activity.activityname}}
                </div>
            </mat-menu> -->
        <a mat-button [routerLink]="['/approve/professor']" routerLinkActive="router-link-active">
          
          <h1>Approve</h1>
        </a>
      </div>
    </mat-toolbar-row>
  </mat-toolbar>
  
  <mat-sidenav-container fxFlexFill>
    <mat-sidenav #sidenav>
      <mat-nav-list>
        <a mat-list-item [routerLink]="['/list/professor']" routerLinkActive="router-link-active" (click)="sidenav.toggle()">
          
          List All Activity
        </a>
        <!-- <a mat-list-item [routerLink]="['/add']" routerLinkActive="router-link-active" (click)="sidenav.toggle()">
          
          Update Activity Detail</a> -->
        <a mat-list-item [routerLink]="['/detail/2']" routerLinkActive="router-link-active" (click)="sidenav.toggle()">
          
          Approve
        </a>
        
        
      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content fxFlexFill fixedInViewport>
        <router-outlet *ngIf = "pro"></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
  </div>

<!-- adminnav -->
  <div ng-model="adminnav" *ngIf = "admin">
    <mat-toolbar  fixedInViewport>
      <mat-toolbar-row>
        <button mat-icon-button (click)="sidenav.toggle()" fxShow="true" fxHide.gt-sm>
          <mat-icon>menu</mat-icon>
        </button>
        <span style="color: goldenrod" (click) = mainnav()> Learning Through Activity </span>
        <span class="nav-spacer"></span>
        <div fxShow="true" fxHide.lt-md="true">
          
          <a mat-button [routerLink]="['/list/admin']" routerLinkActive="router-link-active" >
            
            <h1>List All Activity</h1>
          </a>
          <a mat-button [routerLink]="['/add/admin']" routerLinkActive="router-link-active">
            
            <h1>Add Activity</h1>
          </a>
          
        </div>
      </mat-toolbar-row>
    </mat-toolbar>
    
    <mat-sidenav-container fxFlexFill>
      <mat-sidenav #sidenav>
        <mat-nav-list>
          <a mat-list-item [routerLink]="['/list']" routerLinkActive="router-link-active" (click)="sidenav.toggle()">
            
            List All Activity
          </a>
          <a mat-list-item [routerLink]="['/add']" routerLinkActive="router-link-active" (click)="sidenav.toggle()">
            
            Add Activity</a>
      
          
          
        </mat-nav-list>
      </mat-sidenav>
      <mat-sidenav-content fxFlexFill fixedInViewport>
          <router-outlet *ngIf = "admin"></router-outlet>
      </mat-sidenav-content>
    </mat-sidenav-container>
    </div>