<mat-toolbar>
    <span>Registration</span>
  </mat-toolbar>
  <form>
  
    <mat-form-field class="full-width">
      <input matInput placeholder="Photo">
      <mat-hint>Please upload your photo</mat-hint>
    </mat-form-field>
  
    <br>
    <mat-form-field class="full-width">
      <input matInput placeholder="Student Id" required>
    </mat-form-field>
  
    <table class="full-width">
      <tr>
        <td>
          <mat-form-field class="full-width">
            <input matInput placeholder="First name" required>
          </mat-form-field>
        </td>
      <br>
        <td>
          <mat-form-field class="full-width">
            <input matInput placeholder="Surname" required>
          </mat-form-field>
        </td>
      </tr>
    </table>
  
    <mat-form-field class="full-width">
      <input matInput [matDatepicker]="picker" placeholder="Date of birth">
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
    <br>
    <mat-form-field class="full-width">
      <textarea matInput placeholder="Email" required></textarea>
    </mat-form-field>
    <br>
    <mat-form-field class="full-width">
      <textarea matInput placeholder="Password" required></textarea>
    </mat-form-field>
    
    <div class="center">
            <button mat-button class="mat-raised-button"  (click)="back()">Back</button>
            
      <button mat-button class="mat-raised-button" color="primary" (click)="submit()" style="margin-left: 5px">Submit</button>
    </div>
  
  </form>
  