<div ng-model="pronav">
        <mat-toolbar class="nav" fixedInViewport>
          <mat-toolbar-row>
            <button mat-icon-button (click)="sidenav.toggle()" fxShow="true" fxHide.gt-sm>
              <mat-icon>menu</mat-icon>
            </button>
            <span style="color: rgb(230, 208, 152)"> Learning Through Activity </span>
            <span class="nav-spacer"></span>
            <div fxShow="true" fxHide.lt-md="true">
              
              <a mat-button [routerLink]="['./list']" routerLinkActive="router-link-active" >
                
                <h1>List All Activity</h1>
              </a>
              <a mat-button [routerLink]="['./add']" routerLinkActive="router-link-active">
                
                <h1>Add Activity</h1>
              </a>
              <!-- <a mat-button [matMenuTriggerFor]="menu">View</a>
                  <mat-menu #menu="matMenu">
                      <div *ngFor="let activity of activity$ | async">
                          <a mat-menu-item style="text-decoration: none" class="menuview"
                          [routerLink]="['update',activity.id]" routerLinkActive="router-link-active"></a>
                          {{activity.activityname}}
                      </div>
                  </mat-menu> -->
              <a mat-button [routerLink]="['./approve']" routerLinkActive="router-link-active">
                
                <h1>Approve</h1>
              </a>
              <a mat-flat-button color="warn" [routerLink]="['/main']" routerLinkActive="router-link-active">
                <h1>Log Out</h1>
            </a>
            </div>
          </mat-toolbar-row>
        </mat-toolbar>
        
        <mat-sidenav-container fxFlexFill>
          <mat-sidenav #sidenav>
            <mat-nav-list>
              <a mat-list-item [routerLink]="['./list']" routerLinkActive="router-link-active" (click)="sidenav.toggle()">
                
                List All Activity
              </a>
              <a mat-list-item [routerLink]="['./add']" routerLinkActive="router-link-active" (click)="sidenav.toggle()">
                
                Add Activity</a>
              <a mat-list-item [routerLink]="['./approve']" routerLinkActive="router-link-active" (click)="sidenav.toggle()">
                
                Approve
              </a>
              <a mat-flat-button color="warn" [routerLink]="['/main']" routerLinkActive="router-link-active" style="margin-left: 25%">
                Log Out
            </a>
              
            </mat-nav-list>
          </mat-sidenav>
          <mat-sidenav-content fxFlexFill fixedInViewport>
              <router-outlet></router-outlet>
          </mat-sidenav-content>
        </mat-sidenav-container>
        </div>
