.full-width-table {
  width: 100%;
}
tr.mat-footer-row {
  font-weight: bold;
}

img {
  /*height: auto;
  width: 200px;*/
  max-width: 20rem;
  max-height: 20rem;
}
.center-text {
	text-align: center;
  }
  .center-button {
    text-align: center;
    padding-left: .5em;
  }
  
  .center {
	display: flex;
	justify-content: center;
  }
  .mat-raised-button {
    min-width: 1.5 rem;
    max-width: 1.5 rem;
}
.mat-form-field {
  font-size: 14px;
  width: 100%;
}
.penInput {
  min-width: 2rem;
  max-width: 2rem;
}
.mat-cell {
  padding: 8px 8px 8px 0;
}
.mat-table{
  background-color: #fef9cf;
}

.mat-form-field{
  background-color: #f5b678;
}

.mat-paginator{
  background-color: #f5b678;
}

.enroll:hover {
  background-color: cornflowerblue;
}
