<mat-toolbar>
    <span>Add Activity</span>
  </mat-toolbar>
  <form >
  
    <mat-form-field class="full-width">
      <input matInput placeholder="Activity Photo">
      <mat-hint>Please upload your photo</mat-hint>
    </mat-form-field>
  
    <br>
    <mat-form-field class="full-width">
      <input matInput placeholder="Activity Name">
    </mat-form-field>
  
    <table class="full-width">
      <tr>
        <td>
          <mat-form-field class="full-width">
            <input matInput placeholder="Professor">
          </mat-form-field>
        </td>
      <br>
        <td>
          <mat-form-field class="full-width">
            <input matInput placeholder="Location">
          </mat-form-field>
        </td>
        
      </tr>
      <tr>
        <td>
            <mat-form-field class="full-width">
                <input matInput [matDatepicker]="picker" placeholder="Date">
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
              </mat-form-field>
        </td>
      <br>
        <td>
          <mat-form-field class="full-width">
            <input matInput placeholder="PeriodtimeStart (mm/dd/yyy)">
          </mat-form-field>
          <mat-form-field class="full-width">
            <input matInput placeholder="PeriodtimeEnd (mm/dd/yyy)">
          </mat-form-field>
        </td>
        
      </tr>
      
    </table>
    <mat-form-field class="full-width">
        <textarea matInput placeholder="Description"></textarea>
    </mat-form-field>
  
    
    
    <div class="center">
      <button mat-button class="mat-raised-button" color="primary" (click)="add()">Add</button>
    </div>
  
  </form>
  